<mat-card class="margin-y">
  <mat-card-header>
    <mat-card-title>
      {{ "solicitudes.solicitud_nombres" | translate }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <!-- Datos del solicitante -->
    <ngx-datos-solicitante
      [solicitante]="solicitante"
      style="padding: 0px"
      (cargado)="cargoDatos($event)"
    >
    </ngx-datos-solicitante>

    <!-- Formulario de solicitud -->
    <ngx-dinamicform
      [normalform]="solicitudForm"
      [modeloData]="solicitudDatos"
      (result)="enviarSolicitud($event)"
      (resultAux)="habilitarRevision($event)"
      style="padding: 0px"
    >
    </ngx-dinamicform>

    <!-- Formulario de respuesta -->
    <div>
      <ngx-dinamicform
        [normalform]="respuestaSolicitudForm"
        [modeloData]="solicitudRespuesta"
        (result)="enviarRespuesta($event)"
        [estadosMap]="estadosMap"
        *ngIf="Admin"
      >
      </ngx-dinamicform>
    </div>
  </mat-card-content>
</mat-card>
