<div
  class="{{
    normalform
      ? normalform.customPadding
        ? 'dinamic-form padding-custom-' + normalform.customPadding
        : 'dinamic-form padding-custom-1'
      : 'dinamic-form padding-custom-1'
  }}"
>
  @switch(normalform?normalform.tipo_formulario?normalform.tipo_formulario:'':''){
  @case ('basic') {
  <!-- Form  basic -->
  <form class="form-horizontal">
    <fieldset>
      <legend align="{{ normalform.alineacion_titulo }}">
        <small>{{ normalform.titulo }}</small>
      </legend>
      <div class="row">
        @for (c of normalform.campos; track $index) {
        <div class="{{ c.claseGrid }}">
          <div class="form-group">
            <label for="{{ c.nombre }}" class="form-control-label">
              <small>{{ c.label }}</small>
              <small
                id="{{ c.nombre }}"
                class="text-muted"
                [hidden]="!normalform.alertas"
              >
                {{ c.alerta }}
              </small>
            </label>
            <br />
            @switch (c.etiqueta) { @case('input') {
            <!-- input -->
            <input
              [(ngModel)]="c.valor"
              (ngModelChange)="validCampo(c)"
              [ngModelOptions]="{ standalone: true }"
              type="{{ c.tipo }}"
              id="{{ c.nombre }}"
              placeholder="{{ c.placeholder }}"
              [disabled]="c.deshabilitar"
            />
            } @case ('textarea') {
            <!-- textarea -->
            <textarea
              [(ngModel)]="c.valor"
              (ngModelChange)="validCampo(c)"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              id="{{ c.nombre }}"
              class="{{ c.clase }}"
              placeholder="{{ c.placeholder }}"
            >
            </textarea>
            } @case ('radio') { @for (item of c.opciones; track $index) {
            <div class="form-check">
              <label class="row custom-control custom-radio">
                <input
                  type="radio"
                  checked
                  class="custom-control-input"
                  name="{{ c.nombre }}"
                  [value]="item"
                  [(ngModel)]="c.valor"
                  [ngModelOptions]="{ standalone: true }"
                  checked="{{ isEqual(item.Id, c.valor.Id) }}"
                />
                <span class="custom-control-indicator"> </span>
                <span class="custom-control-description">
                  {{ item.valor }}
                </span>
              </label>
            </div>
            } } @case ('checkbox') {
            <!-- checkbox -->
            <div class="form-group validation-checkboxes">
              <input
                type="checkbox"
                class="customised-control-input"
                [disabled]="c.deshabilitar"
                [checked]="c.valor"
                (change)="c.valor = !c.valor"
              />
              {{ c.nombre }}
            </div>
            } @case ('mat-date') {
            <!-- date material -->

            <mat-form-field >
              <input
                matInput
                [(ngModel)]="c.valor"
                [matDatepicker]="picker"
                (dateChange)="onChangeDate($event, c)"
                [ngModelOptions]="{ standalone: true }"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            } @case ('select') {
            <!-- select -->
            <select
              [(ngModel)]="c.valor.Id"
              (ngModelChange)="validCampo(c)"
              class="{{ c.clase }}"
              [ngModelOptions]="{ standalone: true }"
            >
              @for (item of c.opciones; track $index) {
              <option
                class="{{ c.clase }}"
                [ngValue]="item.Id"
                [selected]="c.valor.Id === item.Id"
              >
                {{ item.valor }}
              </option>
              }
            </select>
            } @case ('selectmultiple') {
            <!-- select multiple-->
            <select
              multiple
              [(ngModel)]="c.valor"
              (ngModelChange)="validCampo(c)"
              class="{{ c.clase }} "
              [ngModelOptions]="{ standalone: true }"
            >
              @for (item of c.opciones; track $index) {
              <option [ngValue]="item" [selected]="c.valor === item">
                {{ item.valor }}
              </option>
              }
            </select>
            } @case('file'){
            <!-- input-file -->
            <label for="{{ c.nombre }}" class="upload-file">
              add_a_photo
            </label>
            <input
              type="file"
              id="{{ c.nombre }}"
              class="{{ c.clase }}"
              (change)="onChange($event, c)"
            />

            } }
          </div>
        </div>
        }
      </div>
    </fieldset>
    <br />
    <!-- Botones de form con acción de botones -->
    <div align="center">
      <button
        class="btn btn-success btn-tiny"
        (click)="validForm()"
        [hidden]="!normalform.btn"
      >
        {{ normalform.btn }}
      </button>
      <button
        class="btn btn-primary btn-tiny"
        (click)="clearForm()"
        [hidden]="!normalform.btnLimpiar"
      >
        {{ normalform.btnLimpiar }}
      </button>
    </div>
    <br />
  </form>
  <!-- End Form basic -->
  } @case ('grid') {
  <!-- Form grid -->
  <form class="form-horizontal">
    <fieldset>
      <legend align="{{ normalform.alineacion_titulo }}">
        <small>{{ normalform.titulo }}</small>
      </legend>
      @for (c of normalform.campos; track $index) {
      <div class="form-group row">
        <label for="{{ c.nombre }}" class="col-sm-3 form-control-label">
          <small>{{ c.label }}</small>
          <br />
          <small
            id="{{ c.nombre }}"
            class="text-muted"
            [hidden]="!normalform.alertas"
          >
            {{ c.alerta }}
          </small>
        </label>

        <div class="{{ normalform.clase }}">
          @switch (c.etiqueta) { @case ('input') {
          <!-- input -->
          <input
            [(ngModel)]="c.valor"
            (ngModelChange)="validCampo(c)"
            [ngModelOptions]="{ standalone: true }"
            type="{{ c.tipo }}"
            id="{{ c.nombre }}"
            class="{{ c.clase }}"
            placeholder="{{ c.placeholder }}"
            [disabled]="c.deshabilitar"
          />
          } @case ('textarea') {
          <!-- textarea -->
          <textarea
            [(ngModel)]="c.valor"
            (ngModelChange)="validCampo(c)"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            id="{{ c.nombre }}"
            class="{{ c.clase }}"
            placeholder="{{ c.placeholder }}"
          >
          </textarea>
          } @case ('radio') {
          <!-- radio -->
          @for (item of c.opciones; track $index) {
          <div class="form-check">
            <label class="row custom-control custom-radio">
              <input
                type="radio"
                checked
                class="custom-control-input"
                name="{{ c.nombre }}"
                [value]="item"
                [(ngModel)]="c.valor"
                [ngModelOptions]="{ standalone: true }"
                checked="{{ isEqual(item.Id, c.valor.Id) }}"
              />
              <span class="custom-control-indicator"> </span>
              <span class="custom-control-description">
                {{ item.valor }}
              </span>
            </label>
          </div>

          } } @case ('checkbox') {
          <!-- checkbox -->
          <div class="form-group validation-checkboxes">
            <input
              type="checkbox"
              class="customised-control-input"
              [disabled]="c.deshabilitar"
              [checked]="c.valor"
              (change)="c.valor = !c.valor"
            />
            {{ c.nombre }}
          </div>
          } @case ('mat-date') {
          <!-- date material -->
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              (dateChange)="onChangeDate($event, c)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          }
          <!-- select -->
          @case ('select') {

          <select
            [(ngModel)]="c.valor.Id"
            (ngModelChange)="validCampo(c)"
            class="{{ c.clase }}"
            [ngModelOptions]="{ standalone: true }"
          >
            @for (item of c.opciones; track $index) {
            <option
              class="{{ c.clase }}"
              [ngValue]="item.Id"
              [selected]="c.valor.Id === item.Id"
            >
              {{ item.valor }}
            </option>
            }
          </select>
          }
          <!-- select multiple-->
          @case ('selectmultiple') {

          <select
            multiple
            [(ngModel)]="c.valor"
            (ngModelChange)="validCampo(c)"
            class="{{ c.clase }} "
            [ngModelOptions]="{ standalone: true }"
          >
            @for (item of c.opciones; track $index) {
            <option [ngValue]="item" [selected]="c.valor === item">
              {{ item.valor }}
            </option>
            }
          </select>
          }
          <!-- input-file -->
          @case ('file') {
          <input
            type="file"
            name="{{ c.nombre }}"
            class="{{ c.clase }}"
            (change)="onChange($event, c)"
          />
          } }
        </div>
      </div>
      }
    </fieldset>
    <br />
    <div align="center">
      <button
        class="btn btn-success btn-tiny"
        (click)="validForm()"
        [hidden]="!normalform.btn"
      >
        {{ normalform.btn }}
      </button>
      <button
        class="btn btn-primary btn-tiny"
        (click)="clearForm()"
        [hidden]="!normalform.btnLimpiar"
      >
        {{ normalform.btnLimpiar }}
      </button>
    </div>
    <br />
  </form>
  <!-- End Form Grid -->
  } @case ('simple') {
  <!-- Form simple -->
  <form class="form-horizontal" >
    <div class="row">
      @for (c of normalform.campos; track $index) {
      <div class="{{ c.claseGrid }}">
        <div class="form-group">
          <label for="{{ c.nombre }}" class="form-control-label">
            <small>{{ c.label }}</small>
            <small
              id="{{ c.nombre }}"
              class="text-muted"
              [hidden]="!normalform.alertas"
            >
              {{ c.alerta }}
            </small>
          </label>
          @switch (c.etiqueta) {
          <!-- input -->
          @case ('input') {
          <input
            [(ngModel)]="c.valor"
            (ngModelChange)="validCampo(c)"
            [ngModelOptions]="{ standalone: true }"
            type="{{ c.tipo }}"
            id="{{ c.nombre }}"
            class="{{ c.clase }}"
            placeholder="{{ c.placeholder }}"
            [disabled]="c.deshabilitar"
          />
          }
          <!-- textarea -->
          @case ('textarea') {
          <textarea
            [(ngModel)]="c.valor"
            (ngModelChange)="validCampo(c)"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            id="{{ c.nombre }}"
            class="{{ c.clase }}"
            placeholder="{{ c.placeholder }}"
          >
          </textarea>
          }
          <!-- radio -->
          @case ('radio') { @for (item of c.opciones; track $index) {
          <div class="form-check">
            <label class="row custom-control custom-radio">
              <input
                type="radio"
                checked
                class="custom-control-input"
                name="{{ c.nombre }}"
                [value]="item"
                [(ngModel)]="c.valor"
                [ngModelOptions]="{ standalone: true }"
                checked="{{ isEqual(item.Id, c.valor.Id) }}"
              />
              <span class="custom-control-indicator"> </span>
              <span class="custom-control-description">
                {{ item.valor }}
              </span>
            </label>
          </div>
          } }

          <!-- checkbox -->
          @case ('checkbox') {
          <div class="form-group validation-checkboxes">
            <input
              type="checkbox"
              class="customised-control-input"
              [disabled]="c.deshabilitar"
              [checked]="c.valor"
              (change)="c.valor = !c.valor"
            />
            {{ c.nombre }}
          </div>
          }
          <!-- date material -->
          @case ('mat-date') {
          <mat-form-field>
            <input
              matInput
              [matDatepicker]="picker"
              (dateChange)="onChangeDate($event, c)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          }
          <!-- select -->
          @case ('select') {
          <select
            [(ngModel)]="c.valor.Id"
            (ngModelChange)="validCampo(c)"
            class="{{ c.clase }}"
            [ngModelOptions]="{ standalone: true }"
          >
            @for (item of c.opciones; track $index) {
            <option
              class="{{ c.clase }}"
              [ngValue]="item.Id"
              [selected]="c.valor.Id === item.Id"
            >
              {{ item.valor }}
            </option>
            }
          </select>
          }
          <!-- select multiple-->
          @case ('selectmultiple') {
          <select
            multiple
            [(ngModel)]="c.valor"
            (ngModelChange)="validCampo(c)"
            class="{{ c.clase }} "
            [ngModelOptions]="{ standalone: true }"
          >
            @for (item of c.opciones; track $index) {
            <option [ngValue]="item" [selected]="c.valor === item">
              {{ item.valor }}
            </option>
            }
          </select>
          }
          <!-- input-file -->
          @case ('file') {
          <div class="{{ c.clase }} ">
            <input
              type="file"
              name="{{ c.nombre }}"
              class="{{ c.clase }}"
              (change)="onChange($event, c)"
            />
            <div class="{{ c.clase }}">
              <mat-card size="small">
                <mat-card-content>
                  <img
                    mat-card-image
                    class="carousel-image"
                    src="{{ c.img }}"
                    alt="imagen"
                  />
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          } }
        </div>
      </div>
      }
    </div>
    <br />
    <!-- Botones de form con accaión de botones -->
    <div align="center">
      <button
        class="btn btn-success btn-tiny"
        (click)="validForm()"
        [hidden]="!normalform.btn"
      >
        {{ normalform.btn }}
      </button>
      <button
        class="btn btn-primary btn-tiny"
        (click)="clearForm()"
        [hidden]="!normalform.btnLimpiar"
      >
        {{ normalform.btnLimpiar }}
      </button>
    </div>
    <br />
  </form>
  } @case ('mini') {
  <!-- Form  mini -->
  <form class="form-horizontal">
    <fieldset [ngClass]="!normalform.hidefield ? 'fieldseter' : ''">
      <legend align="{{ normalform.alineacion_titulo }}">
        <small>{{ normalform.titulo }}</small>
      </legend>
      <div class="row">
        @for (c of normalform.campos; track $index) {
        <div class="{{ c.claseGrid }}">
          <div class="form-group">
            <!-- input -->
            @switch (c.etiqueta) { @case ('input') {
            <mat-form-field
              style="width: 100%"
              class="form-group"
              floatLabel="always"
              [hidden]="c.ocultar"
            >
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <input
                matInput
                [(ngModel)]="c.valor"
                (ngModelChange)="validCampo(c)"
                [ngModelOptions]="{ standalone: true }"
                type="{{ c.tipo }}"
                id="{{ c.nombre }}"
                [min]="c.min"
                [max]="c.max"
                [placeholder]="c.placeholder"
                [disabled]="c.deshabilitar"
                pattern="{{ c.pattern }}"
              />
              @if (c.prefix) {
              <span matPrefix>{{ c.prefix.value }}</span>
              }
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </mat-form-field>
            }
            <!-- input confirmacion -->
            @case ('inputConfirmacion') {
            <mat-form-field
              style="width: 100%"
              class="form-group"
              floatLabel="always"
              [hidden]="c.ocultar"
            >
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <input
                matInput
                [(ngModel)]="c.valor"
                (ngModelChange)="confirmacion(c)"
                [ngModelOptions]="{ standalone: true }"
                type="{{ c.tipo }}"
                id="{{ c.nombre }}"
                [placeholder]="c.placeholder"
                [disabled]="c.deshabilitar"
                pattern="{{ c.pattern }}"
              />
              @if (c.prefix) {
              <span matPrefix>{{ c.prefix.value }}</span>
              }
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </mat-form-field>
            }
            <!-- input log 1 -->
            @case ('inputLog1') {
            <mat-form-field
              style="width: 100%"
              class="form-group"
              floatLabel="always"
            >
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <input
                matInput
                [(ngModel)]="c.valor"
                (ngModelChange)="validlog1(c)"
                [ngModelOptions]="{ standalone: true }"
                type="{{ c.tipo }}"
                id="{{ c.nombre }}"
                [placeholder]="c.placeholder"
                [disabled]="c.deshabilitar"
                pattern="c.pattern || *"
              />
              @if (c.prefix) {
              <span matPrefix>{{ c.prefix.value }}</span>
              }
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </mat-form-field>
            }
            <!-- checkbox -->
            @case ('checkbox') {
            <div class="form-group validation-checkboxes" [hidden]="c.ocultar">
              <mat-checkbox
                type="checkbox"
                class="customised-control-input"
                [disabled]="c.deshabilitar"
                color="primary"
                [(ngModel)]="c.valor"
                (change)="c.valor = !c.valor; c.alerta = ''"
              >
                {{ c.requerido ? "* " + c.label : c.label }}</mat-checkbox
              >
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </div>
            }

            <!-- textarea -->
            @case ('textarea') {
            <mat-form-field
              style="width: 100%"
              class="form-group"
              floatLabel="always"
            >
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <textarea
                matInput
                placeholder="Autosize textarea"
                matTextareaAutosize
                matAutosizeMinRows="3"
                matAutosizeMaxRows="6"
                [(ngModel)]="c.valor"
                (ngModelChange)="validCampo(c)"
                [ngModelOptions]="{ standalone: true }"
                type="text"
                id="{{ c.nombre }}"
                class="{{ c.clase }}"
                placeholder="{{ c.placeholder }}"
                [disabled]="c.deshabilitar"
              ></textarea>
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </mat-form-field>
            }

            <!-- radio -->
            @case ('radio') { @for (item of c.opciones; track $index) {
            <div class="form-check">
              <label class="row custom-control custom-radio">
                <input
                  type="radio"
                  checked
                  class="custom-control-input"
                  name="{{ c.nombre }}"
                  [value]="item"
                  [(ngModel)]="c.valor"
                  [ngModelOptions]="{ standalone: true }"
                  checked="{{ isEqual(item.Id, c.valor.Id) }}"
                  [disabled]="c.deshabilitar"
                />
                <span class="custom-control-indicator"> </span>
                <span class="custom-control-description">
                  {{ item.valor }}
                </span>
              </label>
            </div>
            } }
            <!-- date material -->
            @case ('mat-date') {
            <mat-form-field style="width: 100%" floatLabel="always">
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <input
                matInput
                [(ngModel)]="c.valor"
                [matDatepicker]="picker"
                (dateChange)="onChangeDate($event, c); validCampo(c)"
                [ngModelOptions]="{ standalone: true }"
                [placeholder]="c.placeholder"
                [disabled]="c.deshabilitar"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </mat-form-field>
            }
            <!-- select -->
            @case ('select') {
            <mat-form-field
              style="width: 100%"
              class="form-group"
              floatLabel="always"
              [hidden]="c.ocultar"
            >
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <mat-select
                [placeholder]="
                  c.valor
                    ? c.key
                      ? c.valor[c.key]
                        ? c.valor[c.key]
                        : (c.valor | json)
                      : c.placeholder
                    : c.placeholder
                "
                [(ngModel)]="c.valor"
                (ngModelChange)="validCampo(c)"
                [ngModelOptions]="{ standalone: true }"
                [disabled]="c.deshabilitar"
              >
                <mat-option>--Seleccionar--</mat-option>
                @for (item of c.opciones; track $index) {
                <mat-option
                  class="multiline-mat-option"
                  [value]="item ? item : ''"
                >
                  {{
                    c.key
                      ? item[c.key]
                        ? item[c.key]
                        : (item | json)
                      : (item | json)
                  }}
                </mat-option>
                }
              </mat-select>
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </mat-form-field>
            }
            <!-- select multiple -->
            @case('selectmultiple'){
            <mat-form-field style="width: 100%" floatLabel="always">
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <mat-select
                [placeholder]="
                  c.valor
                    ? c.key
                      ? c.valor[c.key]
                        ? c.valor[c.key]
                        : (c.valor | json)
                      : c.placeholder
                    : c.placeholder
                "
                [(ngModel)]="c.valor"
                (ngModelChange)="validCampo(c)"
                [ngModelOptions]="{ standalone: true }"
                [disabled]="c.deshabilitar"
                multiple
              >
                @for (item of c.opciones; track $index) {
                <mat-option [value]="item">
                  {{
                    c.key
                      ? item[c.key]
                        ? item[c.key]
                        : (item | json)
                      : (item | json)
                  }}
                </mat-option>
                }
              </mat-select>
              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </mat-form-field>
            }
            <!-- auto complete-->
            @case ('autocomplete') {
            <mat-form-field
              style="width: 100%"
              floatLabel="always"
              class="example-full-width"
            >
              <mat-label
                >{{ c.requerido ? "* " + c.label : c.label }}:</mat-label
              >
              <input
                matInput
                type="text"
                class="inputAuto"
                [placeholder]="
                  c.valor
                    ? c.key
                      ? c.valor[c.key]
                        ? c.valor[c.key]
                        : (c.valor | json)
                      : c.placeholder
                    : c.placeholder
                "
                aria-label="Number"
                [matAutocomplete]="auto"
                [disabled]="c.deshabilitar"
                (keyup)="keyupAutocomplete($event, c)"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                [displayWith]="displayWithFn"
                (optionSelected)="setNewValue({ element: $event, field: c })"
              >
                @for (item of c.opciones; track $index) {
                <mat-option [value]="item">
                  {{ c.key ? item[c.key] : (item | json) }}
                </mat-option>
                }
              </mat-autocomplete>
              <mat-hint style="width: 100%">
                <div class="row text-danger">
                  <div class="col-12">{{ c.alerta }}</div>
                </div>
                @if (c.placeholder2) {
                <div class="row" style="font-size: 13px">
                  <div class="col-12">{{ c.placeholder2 }}</div>
                </div>
                }
              </mat-hint>
            </mat-form-field>

            }
            <!-- editor -->
            @case ('editor') {
            <div class="form-group">
              <label for="{{ c.nombre }}">
                {{ c.requerido ? "* " + c.label : c.label }}
              </label>

              <mat-card>
                <mat-card-header> Tiny MCE </mat-card-header>
                <mat-card-content>
                  <ngx-tiny-mce
                    ngDefaultControl
                    [(ngModel)]="c.valor"
                    [ngModelOptions]="{ standalone: true }"
                    id="{{ c.nombre }}"
                    name="{{ c.nombre }}"
                    (ngModelChange)="validCampo(c)"
                    type="text"
                  ></ngx-tiny-mce>
                </mat-card-content>
              </mat-card>

              <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
            </div>
            }
            <!-- input-file -->
            @case ('file') {
            <div
              class="input-file {{ c.clase }} {{
                c.ocultar ? 'no-mostrar' : ''
              }}"
            >
              <div class="row">
                <div class="col-9">
                  <label for="{{ c.nombre }}" class="upload-file">
                    {{ c.requerido ? "* " + c.label : c.label }}
                  </label>
                  <input
                    #documento
                    [disabled]="c.deshabilitar"
                    type="file"
                    id="{{ c.nombre }}"
                    (change)="onChange($event, c)"
                  />
                  <br />
                  <mat-hint class="text-danger">{{ c.alerta }}</mat-hint>
                </div>
                @if (c.urlTemp) {
                <div class="col-3">
                  <div
                    class="ver-documento"
                    (click)="download(c.urlTemp, c.nombre, 500, 500)"
                  >
                    <i
                      class="fa fa-cloud-download fa-2x"
                      aria-hidden="true"
                    ></i>
                    <span>{{ "GLOBAL.click_aqui" | translate }}</span>
                  </div>
                </div>
                }
              </div>
            </div>
            }

            <!-- input-file with revision -->
            @case ('fileRev') {
            <mat-form-field
              style="width: 100%"
              class="form-group"
              floatLabel="always"
              [hidden]="c.ocultar"
            >
              <input
                #documento
                type="file"
                (change)="onChange2($event, c)"
                style="display: none"
              />
              <mat-label>{{
                c.requerido ? "* " + c.label : c.label
              }}</mat-label>
              <div class="row">
                <div class="col-9">
                  <button
                    type="button"
                    mat-raised-button
                    (click)="documento.click()"
                    [disabled]="
                      (c.estadoDoc ? c.estadoDoc.aprobado : false) ||
                      (c.deshabilitar ? c.deshabilitar : false)
                    "
                  >
                    {{ "GLOBAL.seleccionar_archivo" | translate }}
                  </button>
                  @if (c.File) {
                  <span
                    class="enlace-documento"
                    (click)="
                      download(
                        c.urlTemp,
                        c.File.name,
                        500,
                        500,
                        c.noPreview ? c.noPreview : false
                      )
                    "
                    title="{{
                      'GLOBAL.tooltip_previsualizar_archivo' | translate
                    }}"
                  >
                    {{ c.File?.name }}
                  </span>
                  }
                </div>
                <div class="col-3">
                  @if (c.valor && !c.File) {
                  <span
                    class="enlace-documento alinear"
                    (click)="
                      download(
                        c.valor,
                        c.nombre,
                        500,
                        500,
                        c.noPreview ? c.noPreview : false
                      )
                    "
                    title="{{ 'GLOBAL.tooltip_descargar_arhivo' | translate }}"
                  >
                    <i
                      class="fa fa-cloud-download fa-2x"
                      aria-hidden="true"
                    ></i>
                    <i>{{ "GLOBAL.tooltip_descargar" | translate }}</i>
                  </span>
                  }
                </div>
              </div>
              <mat-hint style="width: 100%">
                <div class="row text-danger">
                  <div class="col-12">{{ c.alerta }}</div>
                </div>
                @if (c.estadoDoc && !c.File) {
                <div class="row" style="font-size: 13px">
                  <div
                    class="col-4"
                    [ngClass]="!c.estadoDoc.aprobado ? 'text-danger' : ''"
                  >
                    {{ "GLOBAL.estado" | translate }}:
                    {{ c.estadoDoc.estadoObservacion }}
                  </div>
                  <div class="col-8">
                    {{ "GLOBAL.observacion" | translate }}:
                    {{ c.estadoDoc.observacion }}
                  </div>
                </div>
                }
              </mat-hint>
              <input matInput style="display: none" />
            </mat-form-field>
            }
            <!--buttton -->
            @case ('button') {
            <div class="row {{ c.ocultar ? 'no-mostrar' : '' }}">
              <div class="{{ c.claseGrid }}">
                <button mat-button id="{{ c.id }}" (click)="auxButton(c)">
                  <i class="{{ c.icono }}"></i>
                  {{ c.label }}
                </button>
              </div>
            </div>
            }

            <!--label-->
            @case ('label') {
            <mat-label
              class="{{ c.claseGrid }} {{ c.ocultar ? 'no-mostrar' : '' }}"
              >{{ c.valor ? c.valor : c.label }}</mat-label
            >
            } }
          </div>
        </div>
        }
      </div>
      <ng-content></ng-content>
      @if (normalform.btnLimpiar || normalform.btn) {
      <div class="buttons-container">
        <button
          class="btn btn-primary btn-sm"
          (click)="clearForm()"
          [hidden]="!normalform.btnLimpiar"
        >
          {{ normalform.btnLimpiar }}
        </button>
        <button
          class="btn btn-success btn-sm ml-2"
          (click)="validForm()"
          [hidden]="!normalform.btn"
        >
          {{ normalform.btn }}
        </button>
      </div>
      }
    </fieldset>
    <!-- Botones de form con acción de botones -->
  </form>
  } }
</div>
